html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
}

.pdomain-cell {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
}

input {
  margin: 8px;
}

.temporary-loss {
  font-size: 16pt;
}
