# Ignore production keys, tokens, etc.
/etc/django-secret.key
/deploy/production
/deploy/host_vars
/deploy/config
/deploy/pki/

# Ignore the build directory
/build

# Ignore cache
/.sass-cache
/.cache

# Other temporary files
.DS_Store
*~
*.pyc
memcached.out
rabbitmq.out
db.sqlite3
/static_to_deploy/

# NextJS and Supabase related
node_modules/
next-env.d.ts
/client/.next/
.env.local
