---
title: "FMR Challenge at ICRA 2016"
skip_header: true
use_mathjax: false
---

<h1>The First Challenge on Formal Methods for Robotics: <span class="subtitle">ICRA 2016<span></h1>

<div id="toc">
  <a href="#callICRA2016" class="button">call for participation</a>
  <a href="#schedule" class="button">schedule</a>
  <a href="http://fmrchallenge.org" class="button">fmrchallenge home</a>
  <a href="#contact" class="button">contact</a>
  <a href="http://eepurl.com/bbxEcz" class="button">mailing list</a>
</div>

<h2 id="callICRA2016">call for participation</h2>
<p>
We invite teams to participate in the first challenge on formal methods for
robotics, to be held at <a href="http://www.icra2016.org">ICRA 2016</a> as a
<a href="http://www.icra2016.org/conference/challenges/">Robot Challenge</a>.
Compared to other areas within robotics research,
demonstrations of formal methods have been surprisingly small-scale. The
proposed robotics challenge seeks to motivate advancement of the state of the
art toward practical realization. The challenge is organized into three problem
domains: arbitrary dimensional chains of integrators, roads with Dubins cars,
and factory cart clearing. Each team may enter any number of control programs,
each of which may be used on any subset of the problem domains. Results of the
challenge will be organized by problem domains, and control programs will be
scored based on performance within each domain as well as across domains when
more than one is attempted by the same controller.  Preparation materials
including reference implementations and further details about scoring and
logistics will be released in the upcoming months. Interested teams are directed
to the challenge website
at <a href="http://fmrchallenge.org">http://fmrchallenge.org</a>, which includes
directions for subscription to the challenge mailing list.
</p>

<h2 id="schedule">competition schedule</h2>
<p>
The Challenge will take place during the month of May 2016.
<em>Please beware that this schedule may change</em> as we finalize details.
</p>
<p>
<ul>
  <li><b>1 May:</b> <i>dry-run</i> trials for integrator_chains and the simulation variant of dubins_traffic
  <li><b>8 May:</b> <i>first round</i> of official competition trials for integrator_chains and the simulation variant of dubins_traffic
  <li><b>16-19 May:</b> <i>second round</i> of official competition trials for integrator_chains and the simulation variant of dubins_traffic, and the official competition for the physical variant of dubins_traffic (at ICRA in Stockholm, Sweden)
</ul>
</p>

<h2 id="contact">organizers</h2>
<div class="author"><a href="http://scottman.net">Scott C. Livingston</a>  &lt;slivingston@A&gt;, where A&nbsp;=&nbsp;<a href="http://www.cds.caltech.edu">cds</a>.<a href="http://www.caltech.edu">caltech</a>.edu</div>
<div class="author"><a href="http://vraman.github.io">Vasumathi Raman</a>  &lt;vasumathi.raman@B&gt;, where B&nbsp;=&nbsp;gmail.com</div>
