{% extends "fmrweb/base.html" %}{% load static %}
{% block title %}Benchmarks on Formal Methods for Robotics{% endblock %}
{% block header %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "AMS" } } });</script>
{% endblock %}
{% block main %}
<div class="container">
  <h1>Benchmarks and Competitions on Formal Methods for Robotics</h1>
</div>

<div class="container">
<div class="row" id="summary">
<h2>Summary</h2>
<p>

This is a project to develop benchmark problems for research in so-called formal
methods for robotics. The repositories are hosted on GitHub at <a href="https://github.com/fmrchallenge">https://github.com/fmrchallenge</a>.

</p>
</div>

  <div class="row">
    <h2 id="problems">Problem Domains</h2>
    <p>Below is a summary of <em>problem domains</em>, each of which is the basis
    for particular <em>problem instances</em>. With such a taxonomy, we are able to
    provide parameterized benchmarks that can be arbitrarily scaled, randomly
    generated, etc. Of course, there is also support for fixed benchmarks, e.g., as
    proposed from specific industrial applications. Normative
    descriptions are given at <a href="{% url 'norm-index' %}"><tt>fmrchallenge.org/norm</tt></a>.
    <ol>
      <li><a href="#integrator_chains">scaling chains of integrators</a></li>
      <li><a href="#dubins_traffic">traffic network of Dubins cars</a></li>
      <li><a href="#cart_clearing">factory cart clearing</a></li>
    </ol>
    </p>
  </div>
  <div class="row">

<div class="col-md-4 pdomain-cell" id="integrator_chains">
<h3>scaling chains of integrators</h3>
<img width="90%" src="{% static 'fmrweb/img/dinteg_illustration.svg' %}" alt="Illustration of a trajctory in 3-dimensional Euclidean space.  It avoids two gray rectangles (obstacles) and reaches a green goal rectangle."/>
<p>
The <em>scaling chains of integrators</em> domain is the simplest in terms of
dynamics, yet unlike the other domains, the system to be controlled can be
scaled easily to arbitrarily many dimensions.  While this problem is abstract in
the sense that it is not modeling a specific physical system, it is
well-motivated because the double-integrator is just the basic force equation
\( F=ma \) of Newtonian mechanics, up to a scaling factor.  Informally, this
problem domain concerns controlling acceleration or a higher order derivative of
a point-mass in high-dimensional spaces so as to visit goal regions and avoid
obstacles.
</p>
<p><a class="btn btn-primary btn-lg" href="{% url 'about-integrator_chains' %}" role="button">Get details &raquo;</a></p>
</div>

<div class="col-md-4 pdomain-cell" id="dubins_traffic">
<h3>traffic network of Dubins cars</h3>
<img width="90%" src="{% static 'fmrweb/img/dtraff_illustration.jpg' %}" alt="Illustration of 6 Kobuki mobile bases moving around a 4-connected grid of road segments. The width is 3 road segments, and the height is 2 road segments. Each has two lanes, where there is one lane for each direction of traffic." />
<p>
The <em>traffic network of Dubins cars</em> domain involves navigation in a small network of
two-lane roads with vehicles that have Dubins car dynamics.  There is an
adversary that selects the motion of other cars.  The adversary is subject to
assumptions such as obeying traffic rules and not parking unfairly at locations
that must be eventually reached by the controller.
</p>
<p><a class="btn btn-primary btn-lg" href="{% url 'about-dubins_traffic' %}" role="button">Get details &raquo;</a></p>
</div>

<div class="col-md-4 pdomain-cell" id="cart_clearing">
<h3>factory cart clearing</h3>
<img width="90%" src="{% static 'fmrweb/img/pandp_illustration.jpg' %}" alt="Illustration of a Baxter robot next to an empty table.  The arms are hanging downward and not in motion." />
<p>
The <em>factory cart clearing</em> domain concerns dexterous manipulation tasks
motivated by assembly line activities.  The robot is required to process objects
laid out on a cart that is brought to it and sort them into bins. Carts arrive
after the robot indicates that it is ready, and carts are removed once a robot
declares that it is done. Scoring will be based on how many carts can be
processed correctly (described below) in a fixed amount of time.
</p>
</div>
</div>

  <div class="row" id="contact">
    <h2>Contact</h2>
    <div class="author"><a href="http://scottman.net">Scott C. Livingston</a>  &lt;slivingston@A&gt;, where A&nbsp;=&nbsp;<a href="http://www.cds.caltech.edu">cds</a>.<a href="http://www.caltech.edu">caltech</a>.edu</div>
    <div class="author"><a href="http://vraman.github.io">Vasumathi Raman</a>  &lt;vasumathi.raman@B&gt;, where B&nbsp;=&nbsp;gmail.com</div>
    <div id="news">
      <a href="https://groups.google.com/forum/#!forum/fmrbenchmark-users">subscribe to the mailing list</a>,
      or follow <a href="https://twitter.com/fmrchallenge">@fmrchallenge on Twitter</a>
    </div>
  </div>
  <div class="row" id="events">
    <h2>Events</h2>
    <p><ul>
      <li><a href="{% url 'events-icra2016' %}" class="importantlink">challenge at ICRA 2016</a></li>
      <li><a href="{% url 'events-icra2015' %}">workshop at ICRA 2015</a></li>
    </ul></p>
  </div>

</div>
{% endblock %}
