---
title: definitions and rules
use_mathjax: true
---

<div class="container">
<h1>Problem domain descriptions and competition rules</h1>
<p>
The basic terminology, <a href="/index.html#problems">problem domains</a>, and
methods of evaluation are defined normatively in the Challenge Document.

The sources are available under <a href="https://github.com/fmrchallenge/fmrbenchmark/tree/master/doc/norm"><tt>doc/norm/</tt></a> in the <a href="https://github.com/fmrchallenge/fmrbenchmark">fmrbenchmark repository</a>.

The two other major forms of documentation are
the <a href="http://docs.fmrchallenge.org">User's Guide</a> and
the <a href="http://api.fmrchallenge.org">API manual</a>.
</p>
<p>
<a href="releases/fmrchallenge-v0.0.4.pdf" class="importantlink">Get the current release</a>, which corresponds to <a href="https://github.com/fmrchallenge/fmrbenchmark/releases/tag/v0.0.4">version 0.0.4</a> of the <a href="https://github.com/fmrchallenge/fmrbenchmark">fmrbenchmark repository</a>.
</p>

<h2>terminology</h2>

<p class="disclaimer">
(For convenience, this section is included here from the current release of the
Challenge Document.)
</p>

<p>
A <em>team</em> is the basic entity that can compete and, depending on
performance, receive rankings in the Challenge.  A team must have a name by
which it will be referred to during the Challenge.
</p>

<p>
There are three <em>problem domains</em>.  Within a problem domain, a problem
<em>instance</em> is a particular workspace, arrangement of obstacles, labeling
of the workspace, selection of parameters for the robot dynamics, and a task
formula.
</p>

<p>
Each problem domain may have one or more <em>variants</em>, which concern
different manners of implementation or random instance generation.  E.g., the
traffic of Dubins cars domain has a simulation variant, which
relies on Gazebo, and a physical variant, which involves a real testbed of
several Kobuki bases as well as an overhead pose tracking system.
</p>

<p>
A <em>controller</em> is the basic entity that a team submits for the Challenge
within a particular problem domain.  Each controller is scored and ranked, and
the score of a team is simply the maximum score of any controller belonging to
that team.
</p>

<h2>
<h2>past releases</h2>
<p>
(none yet)
</p>
</div>
