<h1><a href="http://fmrchallenge.org">The First Challenge on Formal Methods for Robotics</a></h1>

<div id="toc">
<a href="/index.html#summary" class="button">about</a>
<a href="/index.html#problems" class="button">domains</a>
<a href="http://docs.fmrchallenge.org" class="button">documentation</a>
<a href="/index.html#events" class="button">events</a>
</div>
