---
title: FAQ
use_mathjax: false
---

<h2>Frequently asked questions</h2>
<ol>
<li><p class="question">Is there a problem format?</p>
<p class="answer">
There are currently three problem domains, as described
on <a href="http://fmrchallenge.org">the website</a>, and each has its own
problem format. The problem format for the first challenge domain has been
released for some time now, and an example of how controller code provided by
the teams will be run can be found in
the <a href="http://docs.fmrchallenge.org">User's Guide</a>.
</p></li>
</ol>

<p>
Do you have more questions? <a href="/index.html#contact">Contact the
organizers</a>, ask
on <a href="https://groups.google.com/forum/#!forum/fmrbenchmark-users">the
mailing list</a>, or
recommend <a href="https://github.com/fmrchallenge/fmrbenchmark-website/issues/1">new
FAQs</a>.
</p>
