---
title: FAQ
use_mathjax: false
---

<h2>Frequently asked questions</h2>
<ol>
<li><p class="question">Is there a problem format?</p>
<p class="answer">
There are currently three problem domains, as described
on <a href="http://fmrchallenge.org">the website</a>, and each has its own
problem format. The problem format for the first challenge domain has been
released for some time now, and an example of how controller code provided by
the teams will be run can be found in
the <a href="http://docs.fmrchallenge.org">User's Guide</a>.
</p></li>

<li><p class="question">What should submissions look like?</p>
<p class="answer">
This is a <em>controller</em> challenge, meaning that given an instance of a
problem in a specified format, each team will submit a controller that provides
a solution using an appropriate interface. Concretely, the interface is defined
using ROS topics and services. Currently the only method of evaluation is
through Monte Carlo (randomized, finite duration) trials. As such, controllers
themselves are largely opaque entities. An example is provided
in <a href="https://github.com/fmrchallenge/fmrbenchmark/blob/8311295c68c827f083a7b4575851fb12b2eaea63/examples/sci_concrete_examples/scripts/lqr.py">examples/sci_concrete_examples/scripts/lqr.py</a>.
We are happy to help troubleshoot any compatibility issues with submitted
controller software. Though not planned for the first challenge, we are
considering other messaging-based interfaces, e.g., using LCM, as well as
solutions of particular forms, e.g., involving Mealy machines and discrete
abstractions.
</p></li>

<li><p class="question">How will submissions be evaluated?</p>
<p class="answer">
Currently the only available evaluation is entirely based on Monte Carlo trials,
where scoring is obtained from satisfaction of the task specification and
performance metrics. The duration for each trial is provided as part of the
problem instance in some cases, and it is randomly generated in others. This
statistical approach to evaluation has well-known limitations in deciding
correctness of solutions. However, it permits a great variety of possible
controllers because essentially no internal structure of solutions is assumed.
We are considering other methods of evaluation that require certain forms of
solutions and allow correspondingly stronger assertions.
</p></li>
</ol>

<p>
Do you have more questions? <a href="/index.html#contact">Contact the
organizers</a>, ask
on <a href="https://groups.google.com/forum/#!forum/fmrbenchmark-users">the
mailing list</a>, or
recommend <a href="https://github.com/fmrchallenge/fmrbenchmark-website/issues/1">new
FAQs</a>.
</p>
